*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
    background: url(../images/hinh_nen_may_tinh_toi_mau_2_1746446580455.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 400px;
    color: white;
    background-color: black;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 30px 40px;
    border-radius: 40px;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.input-box input{
    width: 83%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color:#ffffff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper button {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;

}
.wrapper h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
.wrapper .register-link{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.register-link a{
    text-decoration: none;
    color: #ffffff;
}